@charset "utf-8";
/*   Kyle Stout
     styles.css
	 INFO2124.WW
     Thoendel
     2/23/2020 */

.greenText {
    color: green;
    font-family: Arial;
    size: 2em;
/*This is all CSS5 that is requested */
}